@use 'variables';

.hero {
    padding-top: 90px;
    padding-bottom: 80px;
    position: relative;

    .container {
        position: relative;

    }
    
    &__img {
        display: flex;
        max-width: 600px;
        position: absolute;
        right: 25%;
        top: 70%;
        transform: translateY(-65%) translateX(45%);
    }

    &__text {
        margin-top: 32px;
        margin-bottom: 32px;
        font-size: 25px;
        text-align: justify;
        max-width: 50%;

        h2 {
            font-weight: lighter;
        }


        &__destaque {
            color: greenyellow;
            font-weight: bold;
        }

        &__h6 {
            text-align: justify;
            margin-top: 16px;
            margin-bottom: 48px;
            font-size: 15px;
            font-weight: lighter;
            color: #d6d6d6d7;

            &__destaque {
                font-weight: bold;
            }
        }
    }

    @media (max-width:640px) {
        padding: 40px 0;

        .hero__img {
            display: block;
            position: static;
            max-width: 100%;
            margin: 0 auto 24px;
            transform: none;
        }

        &__text {
            font-size: 22px;
            margin: 24px 0;
            text-align: center;
            max-width: 100%;
        }
    }
}